main {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
  /* overflow: hidden; */
}

header,
footer {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

header {
  justify-content: space-between;
}

footer {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--text);
}

button,
input {
  width: fit-content;
  padding: 0.5rem;
  background: var(--border);
  border: none;
  color: var(--text);
  box-shadow: var(--button-shadow);
  font-size: 16px;
  &:hover {
    cursor: pointer;
    box-shadow: var(--button-shadow-hover);
  }
  &:focus-visible {
    outline: 4px solid rgb(83, 81, 90);
  }

  &:disabled {
    opacity: 30%;
  }
}

.block {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
  background-color: var(--bg);
  gap: 2rem;
  border: 1px solid var(--border);
  min-width: 40%;
  width: 50%;
  @media (max-width: 700px) {
    padding: 2rem;
    min-width: 90%;
    width: 90%;
  }
}

.about-block {
  flex-direction: column;
}

.about-title {
  text-align: left;
}

.search-block {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.block-results {
  overflow-y: scroll;
  scrollbar-width: none;
}

.block-results::-webkit-scrollbar {
  display: none;
}

.results-list {
  list-style: none;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.list-item-description,
.list-item-name {
  padding: 1rem;
  min-height: 5rem;
  @media (max-width: 700px) {
    font-size: smaller;
  }
}

.list-item-description {
  border-left: 0.3px solid var(--border);
  width: 50%;
}

.title {
  min-height: 1rem;
}

.error-header {
  align-self: center;
  margin: auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-page-title {
  margin: auto;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.details {
  flex-direction: column;
}

.details-name {
  border: 1px solid var(--border);
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
