
main {
  height: 100vh;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

header, footer {
  height: 6rem;
}

button , input{
  width: fit-content;
  padding: 0.5rem;
  background: var(--border);
  border: none;
  color: var(--text);
  box-shadow: var(--button-shadow);
  &:hover {
    cursor: pointer;
    box-shadow: var(--button-shadow-hover);
  }
}

.block {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
  background-color: var(--bg);
  gap: 2rem;
  border: 1px solid var(--border);
  min-width: 40%;
  width: 20rem;
  @media (max-width: 500px) {
      padding: 2rem;
  }
}

.results-list {
  list-style: none;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.list-item-description, .list-item-name {
  padding: 1rem;
  min-height: 5rem;
}

.list-item-description {
  border-left: 0.3px solid  var(--border);
  max-width: 12rem;
  width: 12rem;
}

.list-item-name {
  max-width: 6rem;
  width: 6rem;
}

.title {
  min-height: 1rem;
}
